---
import { getCollection } from 'astro:content';
import Card from '../../components/Card.astro';
import Layout from '../../layouts/Layout.astro';
import BlogLinkSimple from '../../components/BlogLinkSimple.astro';
import TagList from '../../components/TagList.astro';
import { sortPosts } from '../../scripts/Utils.js';

const allPosts = await getCollection('posts');
const sortedPosts = sortPosts(allPosts).sortByDate();

// const sortedPosts = allPosts.sort(
//   (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
// );
---

<Layout title="Crockett's Blog">
  <div class="max-w-4xl mx-auto p-4 md:mt-8 mt-4">
    <h2 class="md:text-5xl text-2xl font-slab font-bold">
      Using a Randomness Beacon to Talk to God
    </h2>
    <p class="italic mt-8 md:text-lg">
      Similar to the one found at the National Institute of Standards and
      Technology
    </p>
  </div>

  <div class="max-w-4xl mx-auto p-4">
    <TagList />
  </div>

  <div>
    <ul class="flex flex-col gap-8 max-w-4xl m-4 p-4 mx-auto" style="">
      {
        sortedPosts.map((post) => (
          <BlogLinkSimple
            url={`/blog/${post.slug}/`}
            title={post.data.title}
            pubDate={post.data.pubDate}
            description={post.data.description}
          />
        ))
      }
    </ul>
  </div>
</Layout>
