---
import Navigation from './Navigation.astro';
import ThemeController from './ThemeController.astro';
---

<header class="w-screen min-h-20 grid grid-cols-3 px-8">
  <div
    class="col-start-2 place-self-center w-min flex shrink items-center gap-8"

  >
    <nav>
      <Navigation />
    </nav>
  </div>
  <div class="col-start-3 justify-self-end self-center">
    <ThemeController />
  </div>
</header>
