---
import { getCollection } from 'astro:content';
const { title, url, description, pubDate } = Astro.props;
---

<li class="flex flex-col">
  <div class="italic text-sm mb-1">{pubDate.toDateString()}</div>
  <div>
    <a
      class="transition text-primary font-semibold text-lg md:text-xl hover:underline inline"
      href={url}>{title}</a
    >
  </div>
  <div class="mt-1">{description}</div>
</li>
