---
const { href, title, body, image } = Astro.props;
---

<li class="bg-primary">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p></div>
  </a>
</li>
