---
import { Icon } from 'astro-icon/components';

const { link, icon, size = 20, ariaLabel } = Astro.props;
---

<a
  class="social-link"
  href={`${link}`}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <Icon class="transition hover:text-primary" size={size} name={icon} />
</a>
