---
import { Icon } from 'astro-icon/components';

const { link, icon, size = 20, ariaLabel } = Astro.props;
---

<a class="social-link" href={`${link}`}>
  <Icon class="transition hover:text-primary" size={size} name={icon} aria-label={ariaLabel} />
</a>
