---
import TopArticlesCards from './TopArticlesCards.astro';
import TopArticlesLoader from './TopArticlesLoader.astro';
import { Icon } from 'astro-icon/components';
---

<div class="container mx-auto xl:w-3/5 py-6 px-8 max-md:px-4 mb-10 border rounded-xl">
  <h2 class="text-2xl pb-6 font-bold font-sans">Featured Posts</h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 place-items-center">
    <TopArticlesCards server:defer>
      <TopArticlesLoader slot="fallback" />
    </TopArticlesCards>
  </div>
  <div class="mt-6">
    <a class="font-semibold hover:text-primary transition-all" href="/blog/"
      >Read all posts</a
    >
  </div>
</div>
