---
import { Icon } from "astro-icon/components";
---

<div class="inline-flex gap-2 items-center">
    <div title="View count">
        <Icon name="bi:eye" size={25} />
    </div>
    <span class="animate-pulse text-xl">...</span>
</div>
