---
import SocialIcon from '../SocialIcon.astro';
import { Icon } from 'astro-icon/components';
---

<footer class="w-full h-20">
  <div
    class="h-full flex justify-center items-center gap-4 bg-neutral text-neutral-content"
  >
    <SocialIcon link="https://github.com/frockett" icon="bi:github" />
    <SocialIcon link="https://x.com/_crockettford" icon="bi:twitter-x" />
    <SocialIcon link="mailto:crockett.d.ford@gmail.com" icon="bi:envelope" />
  </div>
</footer>

<style></style>
