---
import "../styles/base.css";
import "@fontsource-variable/inter";
import "@fontsource-variable/roboto-slab";
import { Font } from "astro:assets";
import Footer from "../components/footer/Footer.astro";
import Header from "../components/header/Header.astro";
interface Props {
    title: string;
    description?: string;
}

const { title, description } = Astro.props;

const canonicalUrl = new URL(Astro.url.pathname, Astro.site).toString();
const showMetaDescription: boolean = !!description;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <script
            defer
            src="https://analytics.crockettford.dev/script.js"
            data-website-id="d2ba555a-333d-4c5e-b78b-960662cdd75a"></script>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <Font cssVariable="--font-rethink-sans" preload />
        <Font cssVariable="--font-dm-mono" preload />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <title>{title}</title>
        <link rel="canonical" href={canonicalUrl} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <script>
            import { Observer } from "tailwindcss-intersect";
            Observer.start();
        </script>
    </head>
    <body
        class="bg-background text-foreground flex flex-col min-h-screen max-w-full m-0 overflow-x-hidden"
    >
        <Header />
        <main class="grow">
            <slot />
        </main>
        <Footer />

        <style>
            :global(html) {
                scroll-behavior: smooth;
            }
            @media (prefers-reduced-motion: reduce) {
                :global(html) {
                    scroll-behavior: auto;
                }
            }
        </style>
    </body>
</html>
